<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina bienvenido</title>
</head>
<body>
    <h1>Sistema de administracion de personas (SAP)</h1>
    <div>
        Numero de personas: {{no_person}}
    </div>
    <div>
        <ul>
                <table border="1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for person in persons%}  
                        <tr>
                            <td>{{person.id}} </td>
                            <td> {{person.name}} {{person.last_name}} </td>
                            <td>{{person.email}}</td>
                            <td><a href="detail_person/{{person.id}}">Ver detalle</a></td>
                            <td><a href="edit_person/{{person.id}}">Editar</a></td>
                            <td><a href="delete_person/{{person.id}}">Eliminar</a></td>
                        </tr>
                        {%endfor%} 
                    </tbody>
                </table><br>            
    <div>
        <a href="new_person">Añadir nueva persona</a>
    </div>
</body>
</html>