<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina bienvenido</title>
</head>
<body>
    <h1>Sistema de administracion de personas (SAP)</h1>
    <div>
        Numero de personas:{{no_person}}
    </div>
    <div>
        <ul>
            {%for person in persons%}
                <div>
                    <li>
                        Nombre: {{person.name}}
                        Apellido: {{person.last_name}}  
                        email: {{person.email}}
                        <a href="detail_person/{{person.id}}">Ver detalle</a>
                    </li>
            {%endfor%}
                </div>
        </ul>
    <div>
        <a href="new_person">Añadir nueva persona</a>
    </div>
</body>
</html>